/* font-family: 'Luxurious Roman', cursive; */
* {
    padding: 0 0 0 1px;
    margin: 0%;
}

// contacto
#contacto {
    background-color: #ff9898;
    letter-spacing: 2px;
}

#contacto a {
    color: #fff;
    text-decoration: none;
}


#botonContacto {
    color: white;
}

// promociones
.carousel-inner img {
    width: 100%;
    height: 500px;
}

// footer
.whatsapp {
    position: fixed;
    right: 30px;
    bottom: 15px;
}

#efecto{
    transition: transform .4s;
}

#efecto:hover{
    transform: scale(1.2);
}

// novedades
.contenedorn {
    width: 100%;
    height: 70vh;
    background-color: rgb(255, 255, 255);
    display: grid;

    grid-gap: 2px 1px;
    grid-template-columns: repeat(5, 1fr);

}

.novedades {
    text-align: center;
    text-transform: capitalize;
    background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(158, 0, 0));
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.novedades:hover {
    color: aliceblue;
}

.contenedorNovedades {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;

    justify-content: space-around;
}

.novedad1 {
    width: 40vw;
    height: 60vh;
    background-image: url(./multimedia/cachafaz.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.novedad2 {
    width: 40vw;
    height: 60vh;
    background-image: url(./multimedia/kinderbarra.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.novedad3 {
    width: 40vw;
    height: 60vh;
    background-image: url(./multimedia/cofler.jpeg);
    background-size: cover;

}

// formulario
#formulario {
    position: absolute;
    right: 0;
}

#botonBuscar {
    color: red;
    border: 1px solid #ced4da;
}

.btn-outline-success {
    border-color: #ced4da
}

// menu
$rojo:#CE1212;

#navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: $rojo !important;
    font-size: x-large;
    padding: 10px 0px 10px 20px;
}

a.nav-link:hover {
    color: #000 !important;
}

a.nav-link {
    color: white !important;
}

#logoCaramelo {
    width: 60px;
    height: 50px;
}

#tamanoCarrusel {
    height: 500px;
    width: 100%;
}

.barraIconos {
    height: 90px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 10px;
}

.icono {
    align-items: baseline;
}

.textoIconos {
    text-align: center;
    float: right;
}

.title {
    font-weight: 500;
}

#botonBuscar:hover {
    background-color: red;
    color: wheat;
}

.titulo__h1--color {
    color: aqua;
}

.titulo__h1--size {
    font-size: x-large;
}

.titulo__h1--font {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sectionNovedades__h2--color {
    color: beige;
}

// ESTILOS CARRITO
$gris:#EEEBDD;
$rojo:#CE1212;
$granate:#810000;
$negro:#1B1717;
$salmon:#FF4B5C;

.payment-info {
    background: $rojo;
    padding: 10px;
    border-radius: 6px;
    color: $gris;
    font-weight: bold
}

.product-details {
    padding: 10px
}

.body {
    background: $gris
}

.cart {
    background: $gris
}

.p-about {
    font-size: 12px
}

.table-shadow {
    -webkit-box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.42);
    box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.42)
}

.type {
    font-weight: 400;
    font-size: 10px
}

label.radio {
    cursor: pointer
}

label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}

label.radio span {
    padding: 1px 12px;
    border: 2px solid #ada9a9;
    display: inline-block;
    color: #8f37aa;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300
}

label.radio input:checked+span {
    border-color: #fff;
    background-color: $rojo;
    color: #fff
}

.credit-inputs {
    background: $granate;
    color: #fff !important;
    border-color: $granate
}

.credit-inputs::placeholder {
    color: #fff;
    font-size: 13px
}

.credit-card-label {
    font-size: 9px;
    font-weight: 300
}

.form-control.credit-inputs:focus {
    background: $salmon;
    border: $salmon
}

.line {
    border-bottom: 1px solid $negro
}

.information span {
    font-size: 12px;
    font-weight: 500
}

.information {
    margin-bottom: 5px
}

.items {
    -webkit-box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.08)
}

.spec {
    font-size: 11px
}

.btn {
    background-color: $rojo;
    border-color: $negro;

}

.btn:hover {
    background-color: $granate;
    border-color: $granate;

}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: $granate;
    border-color: $granate;
}

.btn-primary:focus {
    background-color: $granate;
    border-color: $granate;
}

// FIN ESTILO CARRITO

// carruseles
.carousel {
    margin: 50px auto;
    padding: 0 70px;
}

.carousel .item {
    color: #747d89;
    min-height: 325px;
    text-align: center;
    overflow: hidden;
}

.carousel .thumb-wrapper {
    padding: 25px 15px;
    background: #fff;
    border-radius: 6px;
    text-align: center;
    position: relative;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.carousel .item .img-box {
    height: 120px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}

.carousel .item img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.carousel .item h4 {
    font-size: 18px;
}

.carousel .item h4,
.carousel .item p,
.carousel .item ul {
    margin-bottom: 5px;
}

.carousel .thumb-content .btn {
    color: $rojo;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid $rojo;
    padding: 6px 14px;
    margin-top: 5px;
    line-height: 16px;
    border-radius: 20px;
}

.carousel .thumb-content .btn:hover,
.carousel .thumb-content .btn:focus {
    color: #fff;
    background: $rojo;
    box-shadow: none;
}

.carousel .thumb-content .btn i {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}

.carousel .item-price {
    font-size: 13px;
    padding: 2px 0;
}

.carousel .item-price strike {
    opacity: 0.7;
    margin-right: 5px;
}

.carousel-control-prev,
.carousel-control-next {
    height: 44px;
    width: 40px;
    background: $rojo;
    margin: auto 0;
    border-radius: 4px;
    opacity: 0.8;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background: $granate;
    opacity: 1;
}

.carousel-control-prev i,
.carousel-control-next i {
    font-size: 36px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -19px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: #fff;
    text-shadow: none;
    font-weight: bold;
}

.carousel-control-prev i {
    margin-left: -2px;
}

.carousel-control-next i {
    margin-right: -4px;
}

.carousel-indicators {
    bottom: -50px;
}

.carousel-indicators li,
.carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 4px;
    border-radius: 50%;
    border: none;
}

.carousel-indicators li {
    background: rgba(0, 0, 0, 0.2);
}

.carousel-indicators li.active {
    background: rgba(0, 0, 0, 0.6);
}

.carousel .wish-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99;
    cursor: pointer;
    font-size: 16px;
    color: #abb0b8;
}

.carousel .wish-icon .fa-heart {
    color: #ff6161;
}

.star-rating li {
    padding: 0;
}

.star-rating i {
    font-size: 14px;
    color: #ffc000;
}

// nosotros
.date {
    font-size: 11px
}

.comment-text {
    font-size: 12px
}

.fs-12 {
    font-size: 12px
}

.shadow-none {
    box-shadow: none
}

.name {
    color: #007bff
}

.cursor:hover {
    color: blue
}

.cursor {
    cursor: pointer
}

.textarea {
    resize: none
}

#nosotros {
    height: 40vh;
}
.footer-copyright{
    background-color: $rojo
}

@media (max-width: 575.98px) {

    #contacto {
        padding-bottom: 800px;
    }

    #contacto .maps iframe {
        width: 100%;
        height: 450px;
    }
}

@media (min-width: 576px) {

    #contacto {
        padding-bottom: 800px;
    }

    #contacto .maps iframe {
        width: 100%;
        height: 450px;
    }
}

@media (min-width: 768px) {

    #contacto {
        padding-bottom: 350px;
    }

    #contacto .maps iframe {
        width: 100%;
        height: 850px;
    }
}

@media (min-width: 992px) {
    #contacto {
        padding-bottom: 200px;
    }

    #contacto .maps iframe {
        width: 100%;
        height: 700px;
    }
}

@media screen and (max-width: 662px) {

    .barraIconos {
        height: 30%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        margin-top: 10px;
    }

    .icono {
        align-items: baseline;
    }

    .textoIconos {
        text-align: center;
        float: right;
    }

}

@media only screen and (min-width:320px) {
    .novedades {
        font-size: 40px;
        text-justify: auto;
    }}

